* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background-color: #E7C373;
    font-family: "Bebas Neue", sans-serif;
    src: url("fonts/BebasNeue-Regular.ttf") format("ttf");
    color: #3A405A;
    font-weight: bold;
    width: 100%;
    height: 100%
}

img {
    width: 2%;
}

a, a:visited {
    color: #3A405A;
    text-decoration: none;
}

li {
    float: right;
    list-style-type: none;
    padding: 10px;
}

footer {
    background-color: #3A405A;
    color: #E7C373;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 1.5em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer span a img{
    width: 5%;
    margin-left: 50px;
    margin-right: 50px;
}

button {
    display: inline-block;
    border-radius: 2em;
    padding: 10px;
    box-sizing: border-box;
    color: #E7C373;
    background-color: #3A405A;
    font-weight: 900;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 15px;
}

button:hover {
    background-color: #69125C;
    color: #F9F0DC;
}

button:active {
    background-color: #202332;
    color: #EDD497;
}

.index {
    overflow: hidden;
}

.name {
    float: left;
}

.index-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.2fr 1.6fr 1.5fr;
    grid-template-columns: 1.4fr 2.4fr 1fr; 
    row-gap: 7%;
}

.nav-bar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 120%;
}

.intro {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.intro-text {
    font-size: 3rem;
}

.hola {
    grid-column: 2 / 4;
    grid-row:  3 / 4;
    justify-self: end;
    align-self: end;
    font-size: 15rem;
    line-height: 15rem;
    margin-right: 20px;
} 

.projects-wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr .1fr;
}

.projects {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.projects-wrapper h1 {
    font-size: 9rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    text-align: center;
}

.projects-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.projects-list li {
    text-align: center;
}