h1{
  font-align: center;
  font-family: "Lucida-Grande";
  color: white;
  background-image: url("Riverside_Quarry.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
